.sequence-section
	%h1 Your items
	%table.table
		= render @batch.items
	= link_to 'Edit List', edit_batch_path(@batch)
	%br
	= link_to "Next", address_batch_path(@batch), class: "btn btn-lg btn-success"